<% for (let i=0; i < profiles.length; i++) { %> <% if
    (profiles[i].id===profileId) { %>
    <div>
        <a href="/profiles"><button class="btn btn-primary">Back to Clients</button></a
    </div>
    <h2><%= profiles[i].name %></h2>
    <div>ID: <%= profiles[i].id %></div>
    <div>Code: <%= profiles[i].code %></div>
    <div>Email: <%= profiles[i].email %></div>
    <div>Company: <%= profiles[i].company %></div>
    <div>
        <a href="/profiles/<%= profile.id %>/profileEdit"><button class="btn btn-warning">Edit</button></a>
    </div>
    <% } %> <% } %>